<div class="container">
  <form [formGroup]="translatorForm" (ngSubmit)="onTranslatorSubmit()">
    <div class="row box dash-cots">
      <div class="col">
        <label for="translator">*Translator Name</label>
        <input nbInput type="text" shape="semi-round" placeholder="Translator Name" class="form-control"
          formControlName="name" [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['name'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }" />
      </div>
      <div class="col">
        <label for="host">*Host</label>
        <input nbInput type="text" shape="semi-round" placeholder="Enter Host" class="form-control"
          formControlName="host" [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['host'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }" />
      </div>
      <div class="col">
        <label for="login">*Login</label>
        <input nbInput type="text" shape="semi-round" placeholder="Login" class="form-control" formControlName="login"
          [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['login'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }" />
      </div>
      <div class="col">
        <label for="password">*Password</label>
        <input nbInput type="password" shape="semi-round" placeholder="Password" class="form-control"
          formControlName="password" [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['password'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }" />
      </div>
      <!-- <div class="col">
        <label for="baseTestLocation">*Base Test Location</label>
        <input
          nbInput
          type="text"
          shape="semi-round"
          placeholder="Base Test Location"
          class="form-control"
          formControlName="baseTestLocation"
          [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['baseTestLocation'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }"
        />
      </div>
      <div class="col">
        <label for="compiledMapLocation">*Compiled Map Location</label>
        <input
          nbInput
          type="text"
          shape="semi-round"
          placeholder="Compiled Map Location"
          class="form-control"
          formControlName="compiledMapLocation"
          [ngClass]="{
            'is-invalid':
              translatorForm.invalid &&
              translatorForm.controls['compiledMapLocation'].errors &&
              (translatorForm.dirty || translatorForm.touched)
          }"
        />
      </div> -->
      <div class="col">
        <button style="margin-top: 10px;" nbButton shape="semi-round" status="info" type="submit"
          [disabled]="!translatorForm.valid">
          Submit
        </button>
      </div>
    </div>
  </form>
</div>
<!-- End of Translator Settings From -->
<div class="table-container">
  <div class="action-row">
    <button nbButton (click)="updateSettings()">
      <span class="material-symbols-outlined primary">update</span>
    </button>
    <button nbButton (click)="deleteSettings()">
      <span class="material-symbols-outlined danger">delete</span>
    </button>
  </div>
  <ag-grid-angular style="height: 450px" class="ag-theme-quartz" [columnDefs]="colDefs" [defaultColDef]="defaultColDef"
    [rowSelection]="rowSelection" [rowData]="rowData" [pagination]="true" [singleClickEdit]="true"
    [paginationAutoPageSize]="true" (gridReady)="onGridReady($event)">
  </ag-grid-angular>
</div>