<nb-card>
    <nb-card-header></nb-card-header>
    <nb-card-body>
        <div class="warper">
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quod!</div>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure facere est eius eos voluptatem fugit
                suscipit ipsa, numquam animi aperiam consectetur maxime aliquid aliquam quaerat dolore corrupti
                voluptatum
                corporis hic itaque omnis libero culpa dignissimos minus. Aperiam dolorem quam a, autem nihil nobis
                commodi
                in nostrum enim voluptates error ea?</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quibusdam totam tenetur provident
                itaque,
                odio officia repellendus deserunt quis omnis?</div>
            <div>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aliquid, quod!</div>
            <div>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Iure facere est eius eos voluptatem fugit
                suscipit ipsa, numquam animi aperiam consectetur maxime aliquid aliquam quaerat dolore corrupti
                voluptatum
                corporis hic itaque omnis libero culpa dignissimos minus. Aperiam dolorem quam a, autem nihil nobis
                commodi
                in nostrum enim voluptates error ea?</div>
            <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Delectus quibusdam totam tenetur provident
                itaque,
                odio officia repellendus deserunt quis omnis?</div>
        </div>
    </nb-card-body>
</nb-card>